.main-container{
    color: #fff;
    font-family: var(--font-family);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.form-input{
    padding: 5px;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-container{
    padding: 5px;
}
#sel-input{
    background-color: blueviolet;
    width: 50%;
    padding: 5px;
}
#text-input{
    width: 50%;
    padding: 5px;
}