.main{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
}
.button-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}